.films {
    background-color: #0f0f10;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    width: 90%;
    margin: auto;
    color: aliceblue;
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    min-height: 650px;
    grid-auto-rows: minmax(200px, 300px);
    gap: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    gap: 20px;

    form {
        display: grid;
        padding: 100px;
        justify-items: center;
        min-height: 650px;

        h2 {
            font-size: 40px;
            color: azure;
            margin-bottom: 20px;
        }

        button {
            background-color: rgb(32, 36, 43);
            margin-top: 10px;
            padding: 5px 40px;
            border: none;
            outline: none;
            border-radius: 5px;
            font-size: 20px;
            color: aliceblue;
            transition: 0.8s;

            &:hover {
                background-color: aliceblue;
                color: rgb(32, 36, 43);
                font-weight: 900;
            }
        }
        label {
            font-size: 18px;
        }

        input {
            padding: 5px 60px;
            border: 3px solid rgb(32, 36, 43);
            border-radius: 5px;
            font-size: 15px;
            text-align: center;
            background-color: aliceblue;
            transition: 0.4s;
            &:hover {
                border-color: aliceblue;
                background-color: rgb(32, 36, 43);
            }
        }
        p {
            margin-bottom: 10px;
            margin-top: 10px;
            font-size: 20px;
            color: red;
        }
    }
}
